---
title: FPV Race Prague
date: 2017-03-21 00:25 UTC
tags:
- race
- 110
- patrik
- fpv
- youtube
- vimeo
---

<%= vimeo "209481360", "TJ Ruzyne Race" %>

Together with Patrik we took part of the first indoor FPV Race in Prague last Saturday. It was great fun, lovely friendly atmosphere and some sweet races. We built a 130 and two 110s that we ran 3S powered DYS 1407/3600kv and emax 1306/3300kv motors. We expected to have an edge over the guys running 4" setups as it was supposed to be a very tight, technical course. Well unfortunately it was a very fast one and the cards have switched. Our quad blades that were supposed to be great in the turns really struggled at the straights.

All the indoor events are sub 250g so the builds are very weight oriented. No proper antennas, no real cameras (although my backup does run a fullsize camera, but then barely fits the limit with the 800mAh 3S).

The different strenghts mean we were passing each other in the different sections and the races were full of unfortunate mid airs. I did crash out with David Strnad in one of he finals, but luckily the system of 3 heats was used here, so we still had two more runs that were very enjoyable.

<%= youtube "irmWLE0w5f0", "My fastest qualifier and one of the finals." %>

David Nedvídek was kind enough to run around with my gopro and the rx100 and did take a lot of material so I was able to put together an edit which consists of some interesting shots apart from the very glitchy DVR footage. These tiny little buggers would struggle with an HD camera (although I plan to fixing up a holder for the Mobius Mini).



| My Setup                        |
| ------------- | --------------- |
| Motor         | DYS 1407/3300kv |
| ESC           | KISS 18A        |
| FC            | Picoblx clone   |
| Battery       | SLS 500mAh 30C  |
| Frame         | [110mm](http://www.banggood.com/Realacc-List-T-114-110mm-3-Inch-Carbon-Fiber-FPV-Racing-Frame-p-1119839.html?rmmds=myorder) with [custom canopy](http://www.thingiverse.com/thing:2033337) |
| Props         | DAL 3030 x 4    |

| My Backup                       |
| ------------- | --------------- |
| Motor         | DYS 1407/3300kv |
| ESC           | [Racerstar 6A blheli_s](http://www.banggood.com/Racerstar-RS6A-V2-BB2-Blheli_S-6A-1-2S-Brushless-ESC-Support-Oneshot42-Oneshot125-Multishot-1811mm-p-1095723.html?rmmds=search)  |
| FC            | Spracing f3 clone |
| Battery       | SLS 500mAh 30C  |
| Frame         | [Realacc 130](http://www.banggood.com/Realacc-RX130-RX150-130mm-150mm-3mm-Arm-Carbon-Frame-Kit-with-5V12V-PDB-XT60-Plug-p-1088991.html?rmmds=myorder) with custom canopy. Will need a bit more work before I publish it. |
| Props         | DAL 3030 x 4    |

<%= img "patrik-110.jpg", "Patrik&#39;s quad with 1306 mottors. Photo by Radek Doulík", "#{current_page.path}" %>

| Patrik's Setup                   |
| ------------- | ---------------- |
| Motor         | emax 1306/3300kv |
| ESC           | KISS 18A         |
| FC            | Picoblx clone   |
| Battery       | Turnigy Graphene 800mAh 45C   |
| Frame         | [110mm](http://www.banggood.com/Realacc-List-T-114-110mm-3-Inch-Carbon-Fiber-FPV-Racing-Frame-p-1119839.html?rmmds=myorder) with [custom canopy](http://www.thingiverse.com/thing:2033337) |
| Props         | [Kingkong 3030 x 4](http://www.banggood.com/10-Pairs-Kingkong-3x3x4-3030-4-Blade-Propeller-CW-CCW-for-FPV-Racer-p-1083920.html?rmmds=myorder)    |

<p><div class="row">
  <div class="6u">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BR4es-qgnEa/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Really proud of @fpv.patrik for pulling off some tight qualifier laps at the indoor fpv race in Prague on Saturday.</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Jakub Steiner (@jimmacfx) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-03-21T01:55:42+00:00">Mar 20, 2017 at 6:55pm PDT</time></p></div></blockquote>
  </div>
  <div class="6u">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BR0I147g_2h/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Yesterday&#39;s race was a blast 🏁 Video soon. Big shoutout to the organizers!</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Jakub Steiner (@jimmacfx) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-03-19T09:27:43+00:00">Mar 19, 2017 at 2:27am PDT</time></p></div></blockquote>
  </div>
  </div></p>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

I'm happy Patrik gained some experience and am thrilled to be racing with him now, because he is really catching up fast. What I've learnt personally is that I really need a 4" indoor quad for similar fast tracks to be competitive. Big thanks to the organizers!

<%= img 'organizers.jpg', 'Photo by Radek Doulík', "#{current_page.path}" %>
