.bottom
  / Social Icons
  %ul.icons
    %li
      %a.fa.fa-youtube.solo{href: "http://www.youtube.com/channel/UCvteAidIfQtf2FkUzxr8QVg/feed"}
        %span Youtube
    %li
      %a.fa.fa-vimeo-square.solo{href: "http://vimeo.com/jimmacfx"}
        %span Vimeo

    %li
      %a.fa.fa-instagram.solo{href: "http://instagram.com/jimmacfx"}
        %span Instagram
