---
title: FPV Hangar
menu: hangar
---

:markdown
  ## #{data.page.title} ##

  To give you an idea what to build, here's my curret racing and freestyle setups. The list isn't complete, as I usually have 2-3 spares and some variants for freestyle with different motors etc. Unless specifically stated, all rigs use TBS Unify HV or Unify Race VTXes.

  ### Rotorama Split Samurai  ###

  <p class="image full">
    <img src="/images/hangar/samuraisplit.jpg"/>
  </p>
  
  I have fallen in love with the new category of superlight 5" frames. This one sports the Runcam Split Camera, so it's a bit laggier for proper racing, but does 1080P/60 HD recording at 226g. Not only does the size allow it to stop on a dime and just feels ridiculous for cornering, it can do proper races on a 850mah battery and does really well even on lousy 1300. The typical powerhorse 5" neeeds the most dense and fresh packs to sustain the full throttle for more than a second. This guy can scream through the whole pack.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>stretch 5"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast and agile racer.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/rotorama-katana-2204-2700kv">Rotorama Katana 2204/2700kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>TBS Crossfire Micro v2</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>All in one Omnibus F3 with OSD and 30A blheli_s ESCs</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.2, <a class="button small" href="/images/hangar/samuraisplit.cfg">Download Config Diff</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Gemfan Flash 5152 twoblades, Geprc 5040x3</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 850mAh 4S</td>
    </tr>
    <tr>
      <th>FPV + HD Camera:</th>
      <td>Runcam Split 2</td>
    </tr>
    <tr>
      <th>Weight (with battery)</th>
      <td>349g</td>
    </tr>
  </table>   

  ### Rotorama Mefisto  ###

  <p class="image full">
    <img src="/images/hangar/mefisto.jpg"/>
  </p>
  
  Classic powerhouse 5" racer. Brotherhobby r5 motors need the best batteries to feed them, but they deliver the power if you can feed them.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>stretch 5"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast racer. Powaaaaaa</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/brotherhobby-returner-r5-2306-2450kv">Brotherhobby Returner R5 2306/2450kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>TBS Crossfire Micro</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>All in one Omnibus F3 with OSD and 30A blheli_s ESCs</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.2</td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Gemfan Flash 5152 Tris</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe Formula 1500mAh 4S</td>
    </tr>
    <tr>
      <th>FPV Camera:</th>
      <td>Runcam Split 2</td>
    </tr>
    <tr>
      <th>Weight (with battery)</th>
      <td>498g</td>
    </tr>
  </table>   
  
  ### DALRC XR220  ###

  <p class="image full">
    <img src="/images/hangar/dal5.jpg"/>
  </p>
  
  My backup racing frame, optionally carrying 6" props. Off the shelf frame with a unibody base. Supposedly doesn't take much beating and the PDB tends to burst into flames. I have so far been very lucky. It's a light setup and I'm sporting the supe fast racekraft 5051s making this my fastest racing frame, capable of carrying a gopro session.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>220mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast racer.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>emax 2205/2300kv red bottoms</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>DYS XS30A with blheli-s</td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>rctimer s-fhss/futaba.</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Spracing f3</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.0, <a class="button small" href="/images/hangar/dal5.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Racekraft 5051</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 1300mAh 4S</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer HS1177, 2.5mm lens</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>GoPro Session 5</td>
    </tr>
  </table>       

:markdown
  
  ### Red20RC BDX Racer ###

  <p class="image full">
    <img src="/images/hangar/bdxr.jpg"/>
  </p>
    
  I've got 4 BDX Racer quads suitable for both racing and freestyle. As the weight is becoming an issue with non-unibody frames, I'm slowly phasing out the BDXR from racing and keeping them as my day to day bashers/freestyle quads.
  
  I've finally bought the Connex Prosight HD system and one of the BDXRs is equipped with that. Overall the BDXR is still light enough to be competititve and is extremely durable. Been through some very rough crashes. The early designs had a weakness in the camera housing, but that has since been resolved.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>240mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Freestyle</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>emax 2205/2300kv red bottoms</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 24A, DYS XS20A with blheli-s</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Spracing F3</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.0 <a class="button small" href="/images/hangar/bdxr.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Rotorama 5040x3, Racekraft 5051, DAL 5045x3</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 1300mAh or 1500mAh 4S, Turnigy 1300mAh 65c 4S</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer HS1177 with 2.5 or 2.1mm lens</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Gopro Session 5</td>
    </tr>
  </table>       

  ### Rotorama Split Pearl  ###

  <p class="image full">
    <img src="/images/hangar/splitpearl.jpg"/>
  </p>
  
  The goal of the split pearl frame was to provide the smallest and lightest possible rig for the RUncam Split HD camera. Even though it only sports 2" props, it actually screams thanks to the Brotherhobby 1402 8100kv motors. On 3S it's a blast, but I am still looking for +- 500mah packs that can deliver the amps.
  
  I've flown this rig in places I wouldn't dare to fly a 5" but even the 3". It is noisy at full throttle though ;)

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>2"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Guerilla FPV</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/brotherhobby-returner-r3-1402-8100kv">Brotherhobby R3 1402/8100kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>Frsky XM+</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>HGLRC Micro F4 + 4in1 HGLRC 13A blhelis ESCs</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.2</td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Gemfan 2035-4</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>SLS 500mah 3S</td>
    </tr>
    <tr>
      <th>FPV Camera:</th>
      <td>Runcam Split 2</td>
    </tr>
    <tr>
      <th>Weight (with battery)</th>
      <td>144g</td>
    </tr>
  </table>
  
  ### Split 3  ###

  <p class="image full">
    <img src="/images/hangar/split3.jpg"/>
  </p>
  
  Before building the 2" HD camera, I put the Split into my 3" racer frame, with the top of the SPlit Pearl housing the Camera. The 1407 motors give plenty of power on the Flash 3052 even on 3S and run much more efficient than my 2" setup. If I want to be drawing no attention and dive a building, this is what I go for.
  
  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>3"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Guerilla FPV</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/brotherhobby-tornado-1407-3600-kv">Brotherhobby Tornado 1407/3600kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>TBS Crossfire Micro</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>PicoBLX F3</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 18A</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.2</td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Gemfan Flash 3052-3</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>SLS 500mah 3S</td>
    </tr>
    <tr>
      <th>FPV Camera:</th>
      <td>Runcam Split 2</td>
    </tr>
    <tr>
      <th>Weight (with 800mah 3S battery)</th>
      <td>247g</td>
    </tr>
  </table>
