---
title: FPV Hangar
menu: hangar
---

:markdown
  ## #{data.page.title} ##

  I'm going to list all my quads setups here, along with all the NAZE32 Cleanflight/baseflight settings. This might help you get an idea what works for me and perhaps help with your own purchases/builds.

  ### Blackout 220 ###
  
  Blackout Mini H was my first racing quad. I wasn't racing back then, more like trying to keep it in the air. I believe Blackout was who started the whole miniquad craze less than 2 years ago. For today's standards it has a little bit weak plates and a high price tag. I've cracked the top plate as soon as I got fed up rebuilding it every time I crashed, because of its use of nylon spacers and screws to absorb the impact. After replacing the screws with metal, of course the plate broke. Replacement parts are available, but I chose to get a thicker top plate from [getfpv](http://www.getfpv.com/blackout-mini-h-quad-top-plate.html). The top plate alone is more expensive than some 250 kits out there :)
  
  I didn't get the very first revision, but the one with the PDB. Some don't like to have a full bottom plate PDB, because it's less strong, but I really love the convenience of soldering close to where the components live. I like the PDB a lot.
  
  I started with Sunnysky 2204/2300kv which are good motors, but wear out quickly, and cannot take 4S. Also in practical terms, the short flat motors combined with arm mounted escs meant every crash had me rip the escs out with props. Today I run the following setup:

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>220mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Racer. Proximity basher.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>T-Motor MN2204/2300kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 18A v1.2</td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>Futaba R2008SB (Connected via SBUS inverter cable)</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>NAZE32 rev5</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 2.3.4, PID1 &amp; Luxfloat &nbsp; <a class="button small" href="/images/hangar/blackout220.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>DYS 5045BN3 Triblades / DYS 5045 Bullnose v2</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Nanotech 1300mAh 4S 45C / Tattu 1300 4S 75C(big lie) / ASPEC Turnigy 1300mAh 3S 60C</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td><a href="http://www.securitycamera2000.com/products/HD-700TVL-Color-Board-Camera-1%7B47%7D3-Inch-SONY-CCD-D%252dWDR-w%7B47%7D-OSD-Menu-BNC.html">Sony 700TVL (CMR1385H-L28) with 2.8mm lens</a></td></td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>GoPro Hero3 / GoPro Hero3+</td>
    </tr>
  </table>    
  
  ### Skunkworks 250 ###

  <p class="image full">
    <img src="/images/hangar/swh250.jpg"/>
  </p>
  
  I was really intrigued by the curves of this frame cut by [Mike Walters](http://red20rc.org) and designed by [Adam Dube](https://instagram.com/skunkworxhobbies). Large enough to fit 6" props and having plenty of room for components I use this quad for both fast 4S freestyle and proximity. I have crashed it a couple of times with no effect on the frame. I did break the prototype frame by falling about 50 meters, but that weakness has been quickly addressed in the next iteration. You can currently get the frame with a super low profile, which benefits rigidity.
  
  Built for 6" props, the quad is fast even on 3S, but really shines on 4S. It has instant torque and the 2000kv motors are able to fly very smoothly.

  <p><div class="row">
    <div class="6u">
      <blockquote class="instagram-media" data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/4XS_0IEKAG/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Jakub Steiner (@jimmacfx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-06-25T19:33:37+00:00">Jun 25, 2015 at 12:33pm PDT</time></p></div></blockquote>
    </div>
    <div class="6u">
      <blockquote class="instagram-media" data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/4M114vEKHY/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Jakub Steiner (@jimmacfx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-06-21T18:06:27+00:00">Jun 21, 2015 at 11:06am PDT</time></p></div></blockquote>
    </div>
  </div></p>
    
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>250mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast racer. Small enough for park proximity.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>T-Motor MN2206/2000kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 18A v1.2</td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>Futaba R2008SB (Connected via SBUS inverter cable)</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>NAZE32 rev5</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Borisb' Betaflight 2.2.0, PID1 &nbsp; <a class="button small" href="/images/hangar/swh250.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td><a href="http://www.banggood.com/KINGKONG-6040-Propellers-CW-CCW-10-Pairs-For-QAV250-RC-Multirotors-p-988179.html">Kingkong 6040</a>, <a href="http://miniquadfpv.com/product/thugprops-6045-6x4-5-glass-composite-full-set/">Glass Composite Thugprops 6045</a></td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Xtron 1550mAh or 1300mAh 40C (best batteries I have), Tattu 1300mAh 75C (hardly accurate), Multistar 1400mAh 4S 40C</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td><a href="http://www.securitycamera2000.com/products/HD-700TVL-Color-Board-Camera-1%7B47%7D3-Inch-SONY-CCD-D%252dWDR-w%7B47%7D-OSD-Menu-BNC.html">Sony 700TVL (CMR1385H-L28) with 2.8mm lens</a></td></td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>GoPro Session</td>
    </tr>
  </table>       
:markdown
  I rebuilt this quad numerous times, mainly trying out new ESCs. ZTW spider 12A, 18A, DYS SN20A and now settled for KISS18A. After figuring out my startup RPM issues to be in the throttle calibration process, I returned to using [BorisB's](https://www.youtube.com/user/bozic1982/videos) [Betaflight](https://github.com/borisbstyle/cleanflight).
   
  ### Skunkworks 250 Bush Hunter ###

  <div class="row">
    <p class="6u">
        Another amazing frame cut by <a href="http://red20rc.org">Mike Walters</a> and designed by <a href="https://instagram.com/skunkworxhobbies">Adam Dube</a>. Sharing the same design of the top plate, the frame features a nice cage for a low mounted GoPro to get you some sleek fast low shots. Be careful though, the board camera being on top means that you don't want to push the ground too much. And while I have crashed it a couple of times, it was all tall grass lucky crashes. I don't think the top mounted camera is going to make it if I hit the ground a little harder...
    </p>
    
    <p class="image 6u">
      <img class="image 6u" src="/images/hangar/swh250-bushhunter.jpg"/>
    </p>
  </div>



  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>250mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast fluid video capture in open spaces.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>T-Motor MN2206/2000kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 30A</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Xtron 1550mAh or 1300mAh 40C (best batteries I have), Tattu 1300mAh 75C (hardly accurate), Multistar 1400mAh 4S 40C</td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>Futaba R2008SB (Connected via SBUS inverter cable)</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>NAZE32 rev5</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 2.2.0, PID1 &nbsp; <a class="button small" href="/images/hangar/swh250-bushhunter.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td><a href="http://www.banggood.com/KINGKONG-6040-Propellers-CW-CCW-10-Pairs-For-QAV250-RC-Multirotors-p-988179.html">Kingkong 6040</a>, <a href="http://miniquadfpv.com/product/thugprops-6045-6x4-5-glass-composite-full-set/">Glass Composite Thugprops 6045</a></td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Xtron 1550mAh or 1300mAh 40C (best batteries I have), Tattu 1300mAh 75C (hardly accurate), Multistar 1400mAh 4S 40C</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td><a href="http://www.securitycamera2000.com/products/HD-700TVL-Color-Board-Camera-1%7B47%7D3-Inch-SONY-CCD-D%252dWDR-w%7B47%7D-OSD-Menu-BNC.html">Sony 700TVL (CMR1385H-L28) with 2.8mm lens</a></td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Gopro Hero3,3+/Hero4. The production frame allows to fit the Xiaomi Yi, the pre-production I have is too small for it.</td>
    </tr>
  </table>       

  While currently running 4S, In the next year I plan on upgrading it to 6S. This will probably require the use of carbon fibre propellers, but the MN2206 are known to handle 6S just fine, despite being rated 3S by the manufacturer.
  
  <p>
  <iframe width="100%" height="500" src="https://www.youtube.com/embed/mNT3pb6IllA" frameborder="0" allowfullscreen>
  <a href="https://www.youtube.com/watch?v=mNT3pb6IllA">FPV Weekend</a></iframe>
  </p>

  ### Skunkworks 170 Kermit ###

  <p class="image full">
    <img src="/images/hangar/swh180-kermit.jpg"/>
  </p>
    
  Smallest of the Skunkworks family, the [Kermit](http://store.red20rc.org/shop/multirotor-frames/swh170-kermit-micro-quadcopter/) is an amazing frame. Mike now sells it with 3D printed ABS skirts that cover all the components and it makes for a super clean build. Mine isn't as clean, with the classic spacer open look, but I love it nevertheless. It weighs around 250g with a 3S 1Ah battery and that gives enough juice for over 5 minutes. And it's not sluggish flight either. This quad is an example of how weight kills performance, or rather, how lack of weight makes it a rocket. Even on 3S. Those tiny 1306/3100kv motors give quite a punch and sound amazing.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>170mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Mini basher. Dare to fly through any gap. Perfect for parks (and garages).</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>Sunnysky 1306/3100kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>DYS SN20A with BLHeli 14.1</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>EMAX Skyline32 Acro (NAZE32)</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 2.2.0, PID1 <a class="button small" href="/images/hangar/swh170-kermit.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Gemfan 4045 or KingKong 6040 cut down to bullnose 4040. indestructable props, but your motor bell will come off for sure.</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>ASPEC Turnigy 1300mAh 3S 60C, 1000mAh or 850mAh</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Aomway 600 TVL with larger 2.1mm lens that's actually narrower than the default 2.8mm due to the sensor being smaller.</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Mobius</td>
    </tr>
  </table>       
:markdown
  The best part of a small quad like that is that you dare to fit into the smallest of places and can take it long your airplane travels. Crashes are a non issue, because of the small mass. I did hit a tree at full speed and broke the motor (well just pulled it apart as it' essentially held by a tiny c clip. You lose the top bearings in the process most of the times, but those are possible to get. No need to buy the whole motor.

  <p><div class="row">
    <div class="6u">
      <blockquote class="instagram-media" data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/8ioC5cEKJ8/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Jakub Steiner (@jimmacfx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-07T15:14:46+00:00">Oct 7, 2015 at 8:14am PDT</time></p></div></blockquote>
    </div>
    <div class="6u">
      <blockquote class="instagram-media" data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/7x23GOEKPW/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Jakub Steiner (@jimmacfx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-09-18T16:41:27+00:00">Sep 18, 2015 at 9:41am PDT</time></p></div></blockquote>

    </div>
  </div></p>

  ### ImmersionRC Vortex ###

  This isn't actually a custom build at all. The Vortex can be had as a ready to fly model. All you need is a receiver that does CPPM and you're set. It's kind of amazing. You can tune and configure the quad directly on your goggles, using your radio and Vortex' on screen display.
  
  And it's not just convenience you're buying. The Vortex is incredibly light. At *490g* with a 1.3Ah 3S battery, it's lighter and faster than anything I have built. It can run 4S and it really screams with that and 5045 bullnose props. I even tried running the king kong 6040s, and it flies like a rocket, but the 1806 mototrs did get quite hot, so I'm not really using that setup. Some people beef the Vortex up with 2204/2205/2206 motors, but I prefer to stick to the low weight and the 5" props. 
  
  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>285mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Racer. Extremely light and with raceband VTX and adjustable angle camera, the quad is ready to win you some races.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>IRC branded T-Motor 1806/2300kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>Custom IRC 12A ESCs with Oneshot125.</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Custom IRC Fussion flight controller</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 2.2.0, PID1 <a class="button small" href="/images/hangar/vortex.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Kingkong 5040 / DYS 5045 Bullnose v2</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Xtron 1550mAh or 1300mAh 40C (best batteries I have), Tattu 1300mAh 75C (hardly accurate), Multistar 1400mAh 4S 40C, Sometimes even 3S. It's very light.</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Aomway 700 TVL to replace the shorted Fatshark 700tvl. Both use 2.8mm lens</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td><a href="http://www.sony.co.uk/electronics/actioncam/hdr-az1-kit">Sony AZ1</a>, <a href="http://www.surveilzone.com/Foxeer-Legend1-16MP-1080P-60fps-HD-Camera-with-Ambarella-A7LS-and-166-Degree-Lens-g-1435">Foxeer Legend1</a> or <a href="http://www.banggood.com/Mobius-New-Version-Wide-Angle-Lens-C2-1080P-HD-Mini-Action-Camera-p-985644.html">Mobius</a></td>
    </tr>
  </table>

  The Vortex follows the philosophy that plastic bits should absorb the crash energy. It has a folding design where both front and rear arms bend and this can absorb the crash enery on impact as well. However I would a flaw in the design where the back arms have metal strips to prevent the arms bending the read LED frame. That metal part will break in the screw hole part and can short the LED board. I managed to kill the camera this way. Note that if your video feed is blank, the OSD will not be overlaid. I was afraid I fried the Fusion board as well, but luckily that wasn't the case.

  ### BDX240 ###
  
  Another addition to the fleet is the small, but chunky frame that looks like nothing else out there. Precisely machined by Mike Walters out of super fine 3mm carbon fibre, it's been designed by *steadly1* to house a gopro style camera (xiaomi yi works fine). It can only run 5" props, but on 4S and 5045 bullnose it is a beast. Already crashed it numerous times, landing on asphalt and only leaving a few scratches on the edges.

  <p class="row">
        <img class="image 4u" src="/images/hangar/bdx240-1.jpg"/>
        <img class="image 4u" src="/images/hangar/bdx240-2.jpg"/>
        <img class="image 4u" src="/images/hangar/bdx240-3.jpg"/>
  </p>
  
  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>240mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Flying GoPro. Fast proximity flyer with the gopro safely protected by a thick rollcage.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>Cheap "Cobra Quality" RCX 2205/2350kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>DYS SN20A running Blheli 14.1 with oneshot125 and dampened light.</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Emax Skyline32 Acro (NAZE32 clone)</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Borisb' Betaflight 2.2.0, PID1 &nbsp; <a class="button small" href="/images/hangar/bdx240.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Kingkong 5040 / DYS 5045 Bullnose v2</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Xtron 1550mAh or 1300mAh 40C (best batteries I have), Tattu 1300mAh 75C (hardly accurate), Multistar 1400mAh 4S 40C</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer 600TVL CCD</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Gopro HERO3,3+ or 4 Black. Xiaomi Yi</td>
    </tr>
  </table>

  I didn't like the SN20A for burning two t-motors for me. One mid flight and one just arming the thing. Might have been the `demag` being left at low, rather than disabled, but I've had no such issues with the same Blheli settings on the ZTW Spider ESCs. Once you have them configured they work rather good. Because of this experience I chose to try out the RCX "cobras" that were recommended to me. They are light and well built. The ball bearings felt very good, but RCX is not known for good quality and I expected the bell to fall apart on crash. After hitting the pavement and brushing away a good part of the shaft thread, the bell is perfectly serviceable and unbent (unlike my Sunnysky experience).
  
  The quad is heavier (608g with the 4S) and you do have to fight the momentum on turns, but it makes it super smooth for footage. And after flying a lot of az1, xiaomi yi and legend1 I can really appreciate the sharpness, exposure and feel of the superview on the hero3+. If you want the best footage regardless of the price, just fly a gopro. And with this frame, the risk of destroying the gopro is the lowest. It really is a frame that has been designed around safety of the camera. 

  ### BDX Racer ###
  
  Another great design by *steadly1* and produced by Mike Walters is the BDX Racer. It can be had in 5", 5.5" and 6" variations, and all share a super light body with a nice cage for the fpv cam. The frame comes at around 85g, competing with simple X frames. Another notable feature is the way you can mount the fpv camera and get adjustable angle. Either you mount the swivel camera onto the side panels like every other frame, or use the included 3d printed holder that attaches to the lens and fixes itself onto the horizontal standoff.

  <p class="row">
        <img class="image full" src="/images/hangar/bdxr.jpg"/>
  </p>
  
  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>240mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Racer. Light & Fast</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>T-Motor 2204/2300kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 18A v1.2</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>SPF3 clone</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Cleanflight 1.12; <a class="button small" href="/images/hangar/bdxr.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>DYS T5040 racing or DYS 5x4x3 Bullnose</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Xtron 1550mAh or 1300mAh 40C or Turnigy Graphene 1300mAh 4S 45C</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer HS1177</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Gopro Session</td>
    </tr>
  </table>

  I like how I can strap a gopro session drectly on the frame with no holder necessary. I just dress it up in a [ring](http://www.thingiverse.com/thing:1442366) printed from a flexi material these days, just in case I brush the concrete with it yet again.
  
#disqus_thread
:javascript
  var disqus_shortname = "#{data.site.disqusid}"; // required: replace example with your forum shortname

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
