---
title: FPV Hangar
menu: hangar
---

:markdown
  ## #{data.page.title} ##

  I'm going to list all my quads setups here, along with all the NAZE32 Cleanflight/baseflight settings. This might help you get an idea what works for me and perhaps help with your own purchases/builds.

  
  ### DALRC XR220  ###

  <p class="image full">
    <img src="/images/hangar/dal5.jpg"/>
  </p>
  
  Off the shelf frame with a unibody base. Supposedly doesn't take much beating and the PDB tends to burst into flames. I have so far been very lucky. It's a light setup and I'm sporting the supe fast racekraft 5051s making this my fastest racing frame, capable of carrying a gopro session.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>220mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast racer.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>emax 2205/2300kv red bottoms</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>DYS XS30A with blheli-s</td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>rctimer s-fhss/futaba.</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Spracing f3</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.0, <a class="button small" href="/images/hangar/dal5.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Racekraft 5051</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 1300mAh 4S</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer hs1177, 2.5mm lens</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>GoPro Session 5</td>
    </tr>
  </table>       
:markdown
  
  ### PLAto ###

  <p class="image full">
    <img src="/images/hangar/PLAto.jpg"/>
  </p>
    
  For indoor racing with a 250g limit, this guy comes at around 210g with an 800mAh graphene 3S. The frame is  great [design by t4b](http://www.thingiverse.com/thing:1783281), printed with PLA. The frame should probably be cut from CF, but so far it has survived my "soft landings".
  
  I've design a custom [camera canopy](http://www.thingiverse.com/thing:2033337) that holds the Aomway 600tvl camera that gives a better picture than the 170 degree micro cameras usually used in such small builds.
  
  I started with emax 1306 motors, but the DYS 1407/3600kv are way more powerful with only a slight increase of weight. Definitely recommend going 1407.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>110mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Indoor racer. Capable of carrying the Mobius Mini HD camera.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>DYS 1407/3600kv</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 18A v1.2</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>FuriousFPV PICOBLX F3</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.0.1 <a class="button small" href="/images/hangar/PLAto.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>DAL 3030x3 or Kingkong 3030</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 800mAh 3S or Turnigy Graphene 800mAh 3S</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Aomway 600 TVL.</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Mobius Mini</td>
    </tr>
  </table>       

:markdown
  
  ### Red20RC BDX Racer ###

  <p class="image full">
    <img src="/images/hangar/bdxr.jpg"/>
  </p>
    
  I've got 4 BDX Racer quads suitable for both racing and freestyle. As the weight is becoming an issue with non-unibody frames, I'm slowly phasing out the BDXR from racing and keeping them as my day to day bashers/freestyle quads.
  
  I've finally bought the Connex Prosight HD system and one of the BDXRs is equipped with that. Overall the BDXR is still light enough to be competititve and is extremely durable. Been through some very rough crashes. The early designs had a weakness in the camera housing, but that has since been resolved.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>240mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Freestyle</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>emax 2205/2300kv red bottoms</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 24A, DYS XS20A with blheli-s</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Spracing F3</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.0 <a class="button small" href="/images/hangar/bdxr.cfg">Download Config</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Rotorama 5040x3, Racekraft 5051, DAL 5045x3</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 1300mAh or 1500mAh 4S, Turnigy 1300mAh 65c 4S</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer HS177 with 2.5 or 2.1mm lens</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Gopro Session 5</td>
    </tr>
  </table>       

