---
title: FPV Hangar
menu: hangar
---

:markdown
  ## #{data.page.title} ##

  To give you an idea what to build, here's my curret racing and freestyle setups. The list isn't complete, as I usually have 2-3 spares and some variants for freestyle with different motors etc. Unless specifically stated, all rigs use TBS Unify HV or Unify Race VTXes.

  ### Rotorama Samurai  ###

  <p class="image full">
    <img src="/images/hangar/samurai.jpg"/>
  </p>
  
  I have fallen in love with the new category of superlight 5" frames. This one sports the Runcam Split Camera, so it's a bit laggier for proper racing, but does 1080P/60 HD recording at 226g. Not only does the size allow it to stop on a dime and just feels ridiculous for cornering, it can do proper races on a 850mah battery and does really well even on lousy 1300. The typical powerhorse 5" neeeds the most dense and fresh packs to sustain the full throttle for more than a second. This guy can scream through the whole pack.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>stretch 5"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Fast and agile racer.</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/rotorama-katana-2204-2700kv">Rotorama Katana 2204/2700kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>TBS Crossfire Nano</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>All in one Omnibus F3 with OSD and 30A blheli_s ESCs</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.3.3, <a class="button small" href="/images/hangar/samurai.cfg">Download Config Diff</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Geprc 5040x3, Dalprop Cyclone T5051</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 850mAh 4S</td>
    </tr>
    <tr>
      <th>FPV</th>
      <td>Runcam Racer or Foxeer Predator Micro</td>
    </tr>
    <tr>
      <th>Weight (with battery)</th>
      <td>320g</td>
    </tr>
  </table>   

  
  

:markdown
  
  ### Red20RC BDX Racer ###

  <p class="image full">
    <img src="/images/hangar/bdxr.jpg"/>
  </p>
    
  I've got 4 BDX Racer quads for freestyle. Mostly 5", running the oldschool red bootms and the new 2205S variants. I do have one 6", but it's not getting much action lately. The frame is a beast, sadly discontinued.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>240mm</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Freestyle</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td>emax 2205/2300kv red bottoms or the later 2205S variant</td>
    </tr>
    <tr>
      <th>ESCs:</th>
      <td>KISS 24A, DYS XS20A with blheli-s</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>Spracing F3, Omnibus F3, Omnibus f4, Furious Fortini f4</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.5.0 <a class="button small" href="/images/hangar/bdxr.cfg">Download Config Diff</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>HQ 5x4.3x3 V1S</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 75c 1300mAh or 1500mAh 4S, Turnigy 1300mAh 65c 4S</td>
    </tr>
    <tr>
      <th>Board Camera:</th>
      <td>Foxeer Predator Mini, HS1177</td>
    </tr>
    <tr>
      <th>HD Camera:</th>
      <td>Gopro Session 5 or Hero6 black</td>
    </tr>
  </table>

  ### Rotorama Split Pearl  ###

  <p class="image full">
    <img src="/images/hangar/splitpearl.jpg"/>
  </p>
  
  The goal of the split pearl frame was to provide the smallest and lightest possible rig for the RUncam Split HD camera. Even though it only sports 2" props, it actually screams thanks to the Brotherhobby 1402 8100kv motors. On 3S it's a blast, but I am still looking for +- 500mah packs that can deliver the amps.
  
  I've flown this rig in places I wouldn't dare to fly a 5" but even the 3". It is noisy at full throttle though ;)

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>2"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Guerilla FPV</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/brotherhobby-returner-r3-1402-8100kv">Brotherhobby R3 1402/8100kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>Frsky XM+</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>HGLRC Micro F4 + 4in1 HGLRC 13A blhelis ESCs</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.2</td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>Gemfan 2035-4</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>SLS 500mah 3S</td>
    </tr>
    <tr>
      <th>FPV Camera:</th>
      <td>Runcam Split 2</td>
    </tr>
    <tr>
      <th>Weight (with battery)</th>
      <td>144g</td>
    </tr>
  </table>
  
  ### Rotorama Spirit  ###

  <p class="image full">
    <img src="/images/hangar/spirit.jpg"/>
  </p>
  
  Surprisingly durable minimalistic 4" and 3" frame for racing. I've been running it on HQ 4x4.3x3 v1s and 550mah 3S. To my surprise it handles a Gopro Session very well even with that miniscule battery. I've been using it for travelling since. I can share the batteries between this Gopro beast and the tiny Split Pearls.

  <table class="default small">
    <tr>
      <th class="header">Size:</th>
      <td>4"</td>
    </tr>
    <tr>
      <th>Purpose:</th>
      <td>Indoor Racing & Travel</td>
    </tr>
    <tr>
      <th>Motors:</th>
      <td><a href="https://www.rotorama.cz/motory/brotherhobby-returner-r3-1402-8100kv">Brotherhobby Tornado 1407/3600kv</a></td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>Crossfire Nano</td>
    </tr>
    <tr>
      <th>Flight Controller:</th>
      <td>HGLRC Micro F4 + 4in1 HGLRC 13A blhelis ESCs</td>
    </tr>
    <tr>
      <th>Controller FW:</th>
      <td>Betaflight 3.5.1, <a class="button small" href="/images/hangar/spirit.cfg">Download Config Diff</a></td>
    </tr>
    <tr>
      <th>Props:</th>
      <td>HQ 4x.3x3 V1S</td>
    </tr>
    <tr>
      <th>Power:</th>
      <td>Acehe 850mah 3S, Infinity 550mah 3S</td>
    </tr>
    <tr>
      <th>FPV Camera:</th>
      <td>Runcam Micro</td>
    </tr>
    <tr>
      <th>Weight (with 550mah battery and Gopro)</th>
      <td>287g</td>
    </tr>
  </table>
  
